* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* NOVO MENU*/

header {
    background-color: #24252a;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}


.logo {
    display: flex;
    align-items: center;
    
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.0rem;
    color: #fff;
    font-weight: 400;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

#burguer {
    cursor: pointer;
    background-color: aqua;
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}

#burguer:hover {
    background-color: blueviolet;
    color: burlywood;
}

/* NOVO MENU*/

.page1 {
    background-color: blue;
}

.page2 {
    background-color: blueviolet;
}

.page3 {
    background-color: crimson;
}

.interface {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    color: #fff;
}

@media (max-width: 550px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }   
    .nav-list {
        display: none;
    }    
    .nav.item {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }
}